{{>header}}
<div class="card login-form">
    <form class="column" action='/cursos' method="post">
        <div class="form-group">
            <label for="documento">Documento de identidad</label>
            <input type="text" class="form-control" id="documento" name="documento" placeholder="Documento de identidad" required>
        </div>
        <div class="row">
            <span class="col-10">¿No tienes cuenta? <a href="register">Registrate acá</a></span>
            <button type="submit" class="btn btn-primary col">Submit</button>
        </div>
    </form>
</div>
{{>footer}}