.login-form {
    padding: 24px;
    margin: 24px 20%;
}

.login-form .button-container {
    text-align: center;
}

.container {
    padding: 24px;
}

.tab-content {
    padding: 24px;
    text-align: center;
}

.padding-top-24 {
    padding-top: 24px;
}

.align-center {
    text-align: center;
    justify-content: center;
    align-items: center;
}