<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <title>Título de la Página</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/lista">Segunda entrega de node</a>
        {{#if nombre}}
        <form action="/logout" method="get">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Sign out</button>
        </form>
        {{/if}}
    </nav>